@COLOR-ORANGE: #F26722;
@COLOR-BLUE: #263692;
@COLOR-GRAY: #666666;
@COLOR-GRAY-LIGHT: #eeeeee;
@COLOR-WHITE: #FFFFFF;

// Common styles
& {
	body {
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 1.1rem;
		color: @COLOR-GRAY;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		color: @COLOR-ORANGE;
		margin: 0;
	}
	
	h2 {
		font-size: 2.4rem;
	}
	
	img {
		width: 100%;
	}

	a {
		text-decoration: none;		
	}
	
	* {
		box-sizing: border-box;
	}

}

// Specific styles
& {
	
	.container {
		margin: 0 1em;
	}
	
	#branding {
		margin: 3em 0;
	}
	
	#navigation {
		background-color: @COLOR-BLUE;
		&, & a { color: @COLOR-WHITE; }
		font-size: 1.6rem;
		line-height: 2.4;
		text-align: center;
		
		a {
			display: block;
		}
		#main-menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: none;
		}
		#menu-toggle {
			transition: background-color 0.25s ease-in-out;
			&.active {
				background-color: @COLOR-ORANGE;
			}
		}
	}
	
	#news {
		&, & h2 { color: @COLOR-GRAY-LIGHT; }
		background-color: @COLOR-BLUE;
		padding: 0.5rem;
		a {
			color: @COLOR-ORANGE;
			display: block;
			text-align: right;
		}
	}
	
	#footer {
		background-color: @COLOR-GRAY;
		color: @COLOR-GRAY-LIGHT;
		text-align: center;
		line-height: 3.5;
	}

}

// Desktop styles 
@DESKTOP-WIDTH: 950px;
@media (min-width: @DESKTOP-WIDTH) {

	h2 {
		font-size: 2.0rem;
	}
	
	.container {
		width: @DESKTOP-WIDTH;
		margin: auto;
	}
	
	#branding {
		#logo {
			width: auto;
			display: block;
			margin: auto;
		}
	}
	
	#navigation {
		#main-menu {
			display: block !important; 
			// !important overrides inline styles, possibly added by JS if toggled 
			
			li {
				display: inline-block;
				width: @DESKTOP-WIDTH / 5 - 4;
			}
		}
		#menu-toggle {
			display: none;
		}
	}
    
    #banner {
	    position: relative;
	    
	    margin-bottom: 2em;
	    
	    img {
		    box-shadow: 0.1rem 0.3rem 0.3rem fade(@COLOR-GRAY, 50%);
		    display: block;
	    }
	    
	    .banner-content {
		    background-color: fade(@COLOR-ORANGE, 80%);
		    &, & h2 { color: @COLOR-WHITE; }
		    
		    padding: 1rem;
		    width: 20rem;
		    
		    position: absolute;
		    top: 0; left: 0;
		    height: 100%;
		    
	    }
    }
    
    #content {
	    padding: 0.5rem 0;
	    width: 65%;
	    float: left;
    }
    #sidebar {
	    width: 35%;
	    float: right;
    }
    
    #footer {
	    clear: both;
    }
    
	
}
